body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #eceff1;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #fafafa;
    margin: 0;
    /* text-transform: uppercase;
    text-decoration: underline; */
}

h1, h1 strong, h3 {
    font-weight: 400;
}

h2 {
    color: #009688;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 35px;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header {
    height: 65px;
    background-color: #00796B;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #fafafa;
    text-decoration: none;
}

.menu {
    height: inherit;
}

.menu ol{
    display: flex;
    height: inherit;
    align-items: center;
}

.menu ol li {
    height: inherit;
}

.menu ol li a {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-image: url('../img/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #009688;
    display: flex;
    align-items: center;
}

.hero strong {
    color: #64ffda;
}

.portfolio {
    background-color: #eceff1;
    padding: 20px;
}

.project {
    /* border-width: 10px;
    border-style: solid;
    border-color: red; */
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong {
    font-family: 'Montserrat', sans-serif;
}

.project-details {
    width: 500px;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-subtitle,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-imageContainer {
    width: 500px;
}

.experience-list {
    display: flex;
}

.experience-list-title{
    margin-left: 20px
}

.experience {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #e0f2f1;
}

.experience img {
    width: 480px;
    height: 300px;
    object-fit: cover;
}

.experience-details {
    padding: 20px;
    margin: 20px 30px;
    margin-top: -40px;
    background-color: #fafafa;
    position: relative;
    text-align: center;
}

.experience-description {
    text-align: left;
}

.experience-url {
    color: #009688;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
}

.contact {
    background-color: #009688;
    color: #fafafa;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../img/envelope.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-form button {
    display: block;
    background: transparent;
    color: #fafafa;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.contact-form h3 {
    font-weight: bold;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../img/twitter.svg');
}

.social-link.facebook {
    background-image: url('../img/facebook.svg');
}

.social-link.github {
    background-image: url('../img/github.svg');
}

.social-link.instagram {
    background-image: url('../img/instagram.svg');
}

.footer {
    background-color: #00796B;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #fafafa;
    text-decoration: none;
}
