body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #fafafa;
    /* text-transform: uppercase;
    text-decoration: underline; */
}

.header {
    background-color: #00796B;
    color: #fafafa;
}

.header a {
    color: #fafafa;
    text-decoration: none;
}


.hero {
    height: 300px;
    background-image: url('../img/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #009688;
}

.hero strong {
    color: #64ffda;
}

.project {
    /* border-width: 10px;
    border-style: solid;
    border-color: red; */
    border: 1px solid gray;
    border-radius: 10px;
}
.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}