// ? VARIABLES
$shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
$border-radius: 2px;
$color-element: #fff;
$color-text: black;
$font-titles: 'Lato', sans-serif;
$font-texts: 'Open Sans', sans-serif;
$color-green: #63C481;
$color-blue: #55B5DE;
$color-purple: #C352AD;
$color-orange: #E87834;
$color-yellow: #F1C05E;
$color-red: #E36054;

* {
    box-sizing: border-box;
    font-family: $font-texts;
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6F6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-titles;
}

.color {
    &--green {
        color: $color-green;
    }

    &--blue {
        color: $color-blue
    }

    &--purple {
        color: $color-purple;
    }

    &--orange {
        color: $color-orange;
    }

    &--yellow {
        color: $color-yellow;
    }

    &--red {
        color: $color-red;
    }
}

// ? UTILITIES
@import './utils/wrapper';
@import './utils/reset';

// ? COMPONENTS
@import './components/me';
@import './components/recent';
@import './components/card';
@import './components/contact';
@import './components/skills';
@import './components/hobbies';
@import './components/workshops';
@import './components/projects';