// ? VARIABLES
$shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
$border-radius: 2px;
$color-element: #fff;
$color-text: black;
$font-titles: 'Lato', sans-serif;
$font-texts: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    font-family: $font-texts;
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6F6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-titles;
}

// ? UTILITIES
@import './utils/wrapper';
@import './utils/reset';

// ? COMPONENTS
@import './components/me';
@import './components/recent';
@import './components/card';
@import './components/contact';
@import './components/skills';
@import './components/hobbies';