// ? VARIABLES
:root {
    --title-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --primary-color: #0A101F;
    --primary-color-light: rgba(10, 16, 31, 0.5);
    --primary-color-light-extra: rgba(10, 16, 31, 0.035);
    // --primary-color: #0B111E;
    --accent-color: #D4BF50;
    --text-white: #FFF;
    --text-black: var(--primary-color);
    --border-radius: 5px
}

@mixin phone {
    @media screen and (max-width: 540px) {
        @content;
    }
}

html {
    @include phone {
        font-size: 12px;
    }
}

* {
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    margin: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

// ? UTILITIES
@import './utils/wrapper';
@import './utils/reset';

// ? COMPONENTS
@import './components/main';
@import './components/header';
@import './components/hero';
@import './components/reel';
@import './components/footer';