.c-footer {
    height: 60px;
    background: lighten(#000, 20%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include phone {
        grid-area: footer;
    }
}