.c-hero {
  height: calc(100vh - 114px);
  color: var(--text-white);
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;

  &__title {
    font-size: 5rem;
    margin: 0;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--accent-color);
  }

  &__description {
    font-size: 1.75rem;
    margin: 40px 0;
    font-weight:  normal;
  }

  &__image {
    height: 100%;
    justify-self: end;
  }

  &__contact-item {
    width: 35px;
    margin-right: 20px;
  }

  &__skills {
    color: rgba(white, .15);
    font-size: 1.5rem;
    margin: 100px 0 0 0;
  }
}