.c-hobbies {
    background: $color-element;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 10px;

    &__title {
        text-align: center;
    }
    
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // justify-items: center;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-image {
            width: 80px;
            text-align: center;
            margin: 0 auto;
        }

        &-description {
            text-align: center;
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}