.c-me {
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)), url('../img/xalapa.png');
    background-size: cover;
    color: white;
    padding: 0 5px;
    grid-area: me;
    
    &__image {
        width: 100%;
        border-radius: 50%;
    }

    &__title {
        font-size: 2.5em;
        margin: 0;
    }

    &__subtitle {
        font-size: 2em;
        margin: 0;
    }

    &__description {
        font-size: 1.5em;
        margin: 0;
    }

    @include phone {
        font-size: 12px;
    }
}