.c-projects {
    background: $color-element;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    
    &__title {
        text-align: center;
    }
    
    &__cards-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 15px;
    }

    &__button-container {
        margin: 25px 0;
        display: flex;
        justify-content: center;
    }

    &__button {
        text-decoration: none;
        background: $color-green;
        color: white;
        font-size: 1.5em;
        padding: 12px 24px;
        border-radius: 3px;
        border-bottom: 5px solid darken($color-green, 10%);
        box-shadow: $shadow;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
        &:hover {
            transform: translateY(-6px);
        }
        
        &:active {
            transform: translateY(6px);
            background: darken($color-green, 15%);
            border-bottom: 5px solid darken($color-green, 25%);
        }
    }
    @include phone {
        grid-area: projects;
        grid-column-start: unset;
        grid-column-end: unset;

        &__cards-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}