.c-recent {
    background: $color-element;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 10px;
    grid-area: recent;

    &__title {
        text-align: center;
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    @include phone {
        &__cards-container {
            grid-template-columns: 1fr;
        }
    }
}