.c-reel {
  margin-top: 80px;
  margin-bottom: 140px;
  &__title {
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }

  &__item {
    border: 3px solid var(--primary-color-light);
    background: var(--primary-color-light-extra);
    border-radius: 30px;
    padding: 33px 66px;
    text-align: center;
    text-decoration: none;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    color: var(--text-black);

    &:hover {
      border: 3px solid var(--primary-color);
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      background: transparent;
      transform: scale(1.05);
    }
  }
  
  &__item-title {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: normal;
  }

  &__item-description {

  }

  &__item-link {
    font-weight: bold;
  }
}