.c-skills {
    background: $color-element;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 10px;
    
    &__title {
        text-align: center;
    }
    
    &__list {
        font-size: 1.2em;
        list-style: none;
        padding: 0;
        text-align: center;
        font-weight: 700;
    }
}