.c-workshops {
    background: $color-element;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: workshops;

    &__title {
        text-align: center;
    }

    &__image-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    &__image {
        width: 100%;
        border-radius: $border-radius;
    }

    @include phone {
        grid-column-start: unset;
        grid-column-end: unset;

        &__image-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}